:root {
    --primary-red: hsl(0, 100%, 74%);
    --primary-red-box-shadow-color: hsl(6, 64%, 61%);
    --primary-red-border-color: hsl(6, 64%, 61%);
    --primary-green: hsl(154, 59%, 51%);
    --primary-green-border-color: hsl(153, 56%, 49%);
    --primary-green-box-shadow-color: hsl(153, 57%, 45%);
    --primary-green-box-hover-color: hsl(155, 65%, 68%);
    --accent-blue: hsl(248, 32%, 49%);
    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
    --box-shadow: hsl(357, 55%, 62%);
    --error-color: red;
    --font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-red);
    margin: 0px;
}

div.background-image {
    background: url(images/bg-intro-desktop.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 120px 20px 20px 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-right: 0px;
    margin-bottom: 60px;
}

h1 {
    font-family: var(--font-family);
    color: white;
    line-height: 1.1;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 1px rgb(0, 0, 0, 0.1);
}

h2 {
    font-family: var(--font-family);
    text-align: center;
}

.main-text {
    font-family: var(--font-family);
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 1px rgb(0, 0, 0, 0.2);
}

.subscribe-text {
    font-family: var(--font-family);
    color: var(--accent-blue);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.try-free-text {
    font-family: var(--font-family);
    background-color: var(--accent-blue);
    box-shadow: 0px 7px 1px var(--box-shadow);
    font-size: 16px;
    color: rgb(255, 255, 255, 0.8);
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    padding: 20px;
}

.try-free-text strong {
    color: rgb(255, 255, 255, 1);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 100%;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px 42px 40px;
    box-shadow: 0px 7px 1px var(--box-shadow);
}

.first-name-input,
.last-name-input,
.email-input,
.password-input {
    font-family: var(--font-family);
    padding: 16px 0px 16px 30px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
}

input:focus {
    outline: none;
    border: 1px solid var(--accent-blue);
}

.first-name-error-icon::after,
.last-name-error-icon::after,
.email-error-icon::after,
.password-error-icon::after {
    box-sizing: border-box;
    content: url('images/icon-error.svg');
    position: relative;
    bottom: 62px;
    left: 280px;
}

#first-name-error-message,
#last-name-error-message,
#email-error-message,
#password-error-message {
    font-family: var(--font-family);
    color: var(--error-color);
    font-weight: 500;
    font-size: 14px;
    text-align: end;
    margin-right: 10px;
}

.red-border {
    border: 1px solid var(--error-color);
}

.green-border {
    border: 1px solid var(--primary-green);
}

button {
    font-family: var(--font-family);
    background-color: var(--primary-green);
    border: 1px solid var(--primary-green-border-color);
    box-shadow: 0px 3px 1px var(--primary-green-box-shadow-color);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 14px;
}

button:hover {
    cursor: pointer;
    background-color: var(--primary-green-box-hover-color);
}

button:active {
    cursor: pointer;
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red-border-color);
    box-shadow: 0px 3px 1px var(--primary-red-box-shadow-color);
}

.form-text-below {
    font-family: var(--font-family);
    color: var(--neutral-grayish-blue);
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    margin-top: 15px;
}

.form-text-below-color {
    color: var(--primary-red);
    text-decoration: none;
}

.form-text-below-color:hover {
    cursor: pointer;
    color: var(--accent-blue);
}

footer {
    font-family: var(--font-family);
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-blue);
}

footer a:active {
    color: var(--primary-red);
}

.error-margins {
    margin-block: -10px;
}

.valid-margins {
    margin-bottom: 20px;
}

@media (max-width: 450px) {

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        display: none;
    }

    .error-margins {
        margin-bottom: 10px;
        margin-top: -10px;
    }

}

@media (min-width: 500px) {

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        left: 330px;
    }
}

@media (min-width: 600px) {

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        left: 400px;
    }

    form {
        width: 450px;
    }

    h1 {
        font-size: 38px;
    }
}


@media (min-width: 1000px) {

    main {
        flex-direction: row;
    }

    .text-container {
        margin-right: 70px;
        margin-bottom: 0px;
    }

    h1 {
        text-align: start;
        font-size: 48px;
    }

    h2 {
        text-align: start;
    }

    .main-text {
        text-align: start;
    }

    .subscribe-text {
        text-align: start;
    }

    footer {
        margin-top: 60px;
    }
}