:root {
    --primary-red: hsl(0, 100%, 74%);
    --primary-red-box-shadow-color: hsl(6, 64%, 61%);
    --primary-red-border-color: hsl(6, 64%, 61%);
    --primary-green: hsl(154, 59%, 51%);
    --primary-green-border-color: hsl(153, 56%, 49%);
    --primary-green-box-shadow-color: hsl(153, 57%, 45%);
    --accent-blue: hsl(248, 32%, 49%);
    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
    --box-shadow: hsl(357, 55%, 62%);
    --error-color: red;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-red);
    margin-top: 0px;
}

div.background-image {
    background: url(images/bg-intro-desktop.png);
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin-inline: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
    text-align: start;
}

h1 {
    color: white;
    line-height: 1.1;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.form-container {
    width: 540px;
    max-width: 100%;
}

.button {
    font-size: 16px;
    background-color: var(--accent-blue);
    color: rgb(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    padding: 22px 120px;
    box-shadow: 0px 7px 1px var(--box-shadow);
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.button strong {
    color: rgb(255, 255, 255, 1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-background {
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 42px 30px;
    box-shadow: 0px 7px 1px var(--box-shadow);
}

.first-name-input,
.last-name-input,
.email-input,
.password-input {
    padding: 16px 0px 16px 30px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

input:focus {
    outline: none !important;
    border: 1px solid var(--accent-blue);
}

.first-name-error-icon::after,
.last-name-error-icon::after,
.email-error-icon::after,
.password-error-icon::after {
    content: url('images/icon-error.svg');
    position: relative;
    bottom: 72px;
    left: 400px;
}

#first-name-error-message,
#last-name-error-message,
#email-error-message,
#password-error-message {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--error-color);
    text-align: end;
    margin-right: 10px;
}

.red-border {
    border: 1px solid var(--error-color);
}

.green-border {
    border: 1px solid var(--primary-green);
}

.submit-input {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-green);
    border: 1px solid var(--primary-green-border-color);
    box-shadow: 0px 3px 1px var(--primary-green-box-shadow-color);
    color: white;
    padding: 17px 0px 14px 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px 10px 15px 10px;
}

.submit-input:hover {
    cursor: pointer;
    background-color: #77E2B5;
}

.submit-input:active {
    cursor: pointer;
    background-color: var(--primary-red);
    border: 1px solid var(--primary-red-border-color);
    box-shadow: 0px 3px 1px var(--primary-red-box-shadow-color);
}

.submit-input:focus {
    border: 1px solid rgb(0, 0, 0, 0);
}

.subscribe-text {
    font-size: 16px;
    color: var(--accent-blue);
    font-weight: 500;
}

.form-text-below {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: var(--neutral-grayish-blue);
}

.form-text-below-color {
    color: var(--primary-red);
    text-decoration: none;
}

.form-text-below-color:hover {
    cursor: pointer;
    color: var(--accent-blue);
}

footer {
    margin-top: 60px;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-blue);
}

footer a:active {
    color: var(--primary-red);
}


@media (max-width: 600px) {
    main {
        flex-direction: column;
        margin-top: 0px;
        max-width: 350px;
    }

    .text-container {
        margin-right: 0px;
        margin-bottom: 60px;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button {
        padding: 20px 70px;
    }

    footer {
        margin-top: 30px;
    }

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        display: none;
    }
}

@media (min-width: 600px) {
    main {
        flex-direction: column;
        margin-top: 0px;
        max-width: 550px;
    }

    .text-container {
        margin-right: 0px;
        margin-bottom: 60px;
    }

    h1 {
        text-align: center;
        font-size: 38px;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .button {
        padding: 20px 120px;
    }

    footer {
        margin-top: 30px;
    }
}


@media (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin-inline: 30px;
    }

    .text-container {
        margin-right: 70px;
        margin-bottom: 0px;
    }

    h1 {
        text-align: start;
        font-size: 48px;
    }

    h2 {
        text-align: start;
    }

    p {
        text-align: start;
    }

    .button {
        padding: 20px 100px;
    }

    footer {
        margin-top: 60px;
    }

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        left: 330px;
    }
}

@media (min-width: 1100px) {
    .button {
        padding: 20px 100px;
    }

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        left: 370px;
    }
}

@media (min-width: 1150px) {
    .button {
        padding: 20px 110px;
    }
}

@media (min-width: 1200px) {
    .button {
        padding: 20px 120px;
    }

    .first-name-error-icon::after,
    .last-name-error-icon::after,
    .email-error-icon::after,
    .password-error-icon::after {
        left: 400px;
    }
}